<nav class="navbar navbar-primary">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a [routerLink]="['/about']">About <span class="sr-only">(current)</span></a></li>
        <li><a [routerLink]="['/contacts']">Contacts</a></li>
        <li><a [routerLink]="['/new']">Nouveau Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet>

</router-outlet>


